<div class="ecd-btn__end ">
    <div class="form-group col-md-4">
        <input
            (keyup)="onFilterData($event)"
            placeholder="Lọc dữ liệu..."
            class="form-control"
        >
    </div>
    <button
        class="btn btn-success mr-2"
        type="button"
        (click)="onCopyToClipboard()"
    >
        Sao chép
    </button>
    <button
        class="btn btn-success mr-2"
        type="button"
        (click)="onLoadData()"
    >
        Tải thêm 1000 sản phẩm
    </button>
</div>
<div class="ecd-w-h__100">
    <table
        mat-table
        [dataSource]="dataSource"
        matSort
        (matSortChange)="onSortData($event)"
    >
        <ng-container
            matColumnDef="select"
            sticky
        >
            <th
                mat-header-cell
                *matHeaderCellDef
                (class)="ecd-w__55x"
            >
                <mat-checkbox
                    (change)="onAllSelected($event)"
                    [checked]="checkAll"
                >
                </mat-checkbox>
            </th>
            <td
                mat-cell
                *matCellDef="let row"
            >
                <mat-checkbox
                    class="ecd-chk__box-pos"
                    (change)="onSelectedRow($event, row)"
                    (click)="onNothing($event)"
                    [checked]="row.isChecked"
                >
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="index">
            <th
                mat-header-cell
                *matHeaderCellDef
            >
                #
            </th>
            <td
                mat-cell
                *matCellDef="let element; let i = index;"
            >
                {{i + 1}}
            </td>
        </ng-container>
        <ng-container
            matColumnDef="image"
            sticky
        >
            <th
                mat-header-cell
                *matHeaderCellDef
                (class)="ecd-w__60x"
            >
                Hình ảnh
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                <img
                    src="https://cf.shopee.vn/file/{{element.image}}"
                    class="ecd-img__thumbnail"
                >
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                Tên sản phẩm
            </th>
            <td
                mat-cell
                [title]="element.name"
                *matCellDef="let element"
            >
                {{element.name}}
            </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                Giá
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{abbreviateNumber(element.price || 0) + ' '+element.currency}}
            </td>
        </ng-container>
        <ng-container matColumnDef="ctime">
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                Thời gian
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{element.ctime | date:'dd/MM/yyyy'}}
            </td>
        </ng-container>
        <ng-container matColumnDef="stock">
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                SL trong kho
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{formatCurrency().format(element.stock)}}
            </td>
        </ng-container>
        <ng-container matColumnDef="discount">
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                Giảm giá
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{element.discount}}
            </td>
        </ng-container>
        <ng-container matColumnDef="view_count">
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                Xem
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{formatCurrency().format(element.view_count)}}
            </td>
        </ng-container>
        <ng-container matColumnDef="liked_count">
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                Thích
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{formatCurrency().format(element.liked_count)}}
            </td>
        </ng-container>
        <ng-container matColumnDef="cmt_count">
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                Thích
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{formatCurrency().format(element.cmt_count)}}
            </td>
        </ng-container>
        <ng-container matColumnDef="rating_star">
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                Đánh giá
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{formatNumber(element.item_rating.rating_star)}}
            </td>
        </ng-container>
        <ng-container matColumnDef="historical_sold">
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                SL Đã bán
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{element.historical_sold}}
            </td>
        </ng-container>
        <ng-container
            matColumnDef="sales"
            stickyEnd
        >
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                Doanh Thu
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{abbreviateNumber(element.historical_sold * element.price)  + ' ' + element.currency}}
            </td>
        </ng-container>
        <tbody>
            <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsTiKi; sticky: true"
            ></tr>
            <tr
                mat-row
                class="{{rowSelected.itemid == row.itemid ? 'ecd-selected__row': ''}} ced-row"
                (click)="onShowDetail(row)"
                *matRowDef="let row; columns: displayedColumnsTiKi; let i = index"
            ></tr>
        </tbody>
    </table>
</div>
<div class="ecd-pagination">
    <ngb-pagination
        [collectionSize]="pagination.totalRecords"
        [pageSize]="pagination.pageSize"
        [(page)]="pagination.page"
        [maxSize]="5"
        (pageChange)="onPaginatorBT($event)"
        [boundaryLinks]="true"
        class="pagination-rounded"
    ></ngb-pagination>
    <mat-paginator
        [pageSize]="pagination.pageSize"
        [pageIndex]="pagination.page - 1"
        [length]="pagination.totalRecords"
        (page)="onPaginator($event)"
        [pageSizeOptions]="[10, 100, 1000]"
    ></mat-paginator>
</div>
<div
    class="ced-loading"
    *ngIf="isLoading"
>
    <div class="la-line-scale-pulse-out la-3x">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
