<div class="ecd-btn__end ">
    <div class="col-md-4">
        <select
            class="form-control basic-addon1"
            [(ngModel)]="selectSearch"
        >
            <option [value]="'all'">Tất cả</option>
            <option [value]="'name'">Tên</option>
            <option [value]="'price'">Giá</option>
            <option [value]="'sales'">Doanh Thu</option>
        </select>
    </div>
    <div class="col-md-4">
        <input
            (keyup)="onFilterData($event)"
            placeholder="Lọc dữ liệu..."
            class="form-control"
        >
    </div>
    <div class="col-md-2">
        <button
            class="btn btn-success"
            type="button"
            (click)="onCopyToClipboard()"
        >
            Sao chép
        </button>
    </div>
    <div class="col-md-2">
        <button
            class="btn btn-success"
            type="button"
            (click)="onLoadData()"
        >
            Tải 1k sản phẩm khác
        </button>
    </div>
</div>
<div
    class="ecd-loading"
    *ngIf="isLoading"
></div>
<mat-progress-bar
    mode="indeterminate"
    [ngStyle]="{'visibility': isLoading ? 'initial' : 'hidden'}"
></mat-progress-bar>
<div
    class="ecd-w-h__100"
    [ngSwitch]="true"
>
    <div *ngSwitchCase="typeTradingFloor == '999'">Không tìm thấy sàn giao dịch</div>
    <div *ngSwitchCase="typeTradingFloor == '0' || typeTradingFloor == '1' || typeTradingFloor == '2'">
        <ngx-datatable
            #myTable
            class="material"
            [rows]="row"
            [columns]="colName"
            [columnMode]="'force'"
            [headerHeight]="50"
            [rowHeight]="40"
            [footerHeight]="50"
            [scrollbarV]="true"
            [scrollbarH]="true"
            [externalPaging]="true"
            [selected]="selected"
            [selectAllRowsOnPage]="false"
            [count]="pagination.totalRecords"
            [selectionType]="'checkbox'"
            (select)="onSelect($event)"
            [messages]="'Đang tải dữ liệu'"
        >
            <ngx-datatable-column
                [width]="55"
                [frozenLeft]="true"
                [sortable]="false"
                [draggable]="false"
                [resizeable]="false"
                [headerCheckboxable]="true"
                [checkboxable]="true"
            >
            </ngx-datatable-column>
            <ngx-datatable-column
                *ngFor="let ele of colName"
                name="{{ele.name}}"
                prop="{{ele.prop}}"
                [sortable]="ele.sortable || true"
                [frozenLeft]="ele?.frozenLeft"
                [frozenRight]="ele?.frozenRight"
                [resizeable]="ele?.resizeable"
                [width]="ele?.width"
                [cellClass]="getCellClass"
            >
                <ng-template
                    ngx-datatable-cell-template
                    let-row="row"
                    let-value="value"
                    let-rowIndex="rowIndex"
                >
                    <u
                        *ngIf="ele.prop == 'name'"
                        (click)="onShowDetail($event, row)"
                        [title]="value"
                        (contextmenu)="openMenu($event, row)"
                        class="ecd-nameprod"
                    >
                        {{value}}
                    </u>
                    <img
                        *ngIf="ele.prop == 'thumbnail_url' || ele.prop == 'image' || ele.prop == 'image_dis'"
                        [src]="value"
                        class="ngx-img__thumbnail"
                    >
                    <p
                        style="font-size: inherit;"
                        [title]="value | formatdata: ele?.format"
                        *ngIf="ele.prop != 'image_dis' && ele.prop != 'thumbnail_url' &&  ele.prop != 'image' && ele.prop != 'name'"
                    >
                        {{value | formatdata: ele?.format}}
                    </p>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
        <div
            style="visibility: hidden; position: fixed"
            [style.left]="coordinate.x"
            [style.top]="coordinate.y"
            [matMenuTriggerFor]="contextMenu"
        >
        </div>
        <mat-menu #contextMenu="matMenu">
            <a
                href="{{link}}"
                mat-menu-item
                target="_blank"
            >
                Mở liên kết
            </a>
        </mat-menu>
    </div>
    <div
        *ngSwitchCase="typeTradingFloor == '7'"
        style="text-align: center;"
    >
        {{mess[1]}}
    </div>
    <div
        *ngSwitchCase="typeTradingFloor == '8'"
        style="text-align: center;"
    >
        {{mess[3]}}
    </div>
</div>
