<div class="ecd-btn__end ">
    <div class="form-group col-md-4">
        <input
            (keyup)="onFilterData($event)"
            placeholder="Lọc dữ liệu..."
            class="form-control"
        >
    </div>
    <button
        class="btn btn-success mr-2"
        type="button"
        (click)="onCopyToClipboard()"
    >
        Sao chép
    </button>
    <button
        class="btn btn-success mr-2"
        type="button"
    >
        Continue to load the product
    </button>
</div>
<div class="ecd-w-h__100">
    <table
        mat-table
        [dataSource]="dataSource"
        matSort
        (matSortChange)="onSortData($event)"
    >
        <ng-container
            matColumnDef="select"
            sticky
        >
            <th
                mat-header-cell
                *matHeaderCellDef
                (class)="ecd-w__55x"
            >
                <mat-checkbox
                    (change)="onAllSelected($event)"
                    [checked]="checkAll"
                >
                </mat-checkbox>
            </th>
            <td
                mat-cell
                *matCellDef="let row"
            >
                <mat-checkbox
                    class="ecd-chk__box-pos"
                    (change)="onSelectedRow($event, row)"
                    [checked]="row.isChecked"
                >
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="index">
            <th
                mat-header-cell
                *matHeaderCellDef
            >
                #
            </th>
            <td
                mat-cell
                *matCellDef="let element; let i = index;"
            >
                {{i + 1}}
            </td>
        </ng-container>
        <ng-container
            matColumnDef="thumbnail_url"
            sticky
        >
            <th
                mat-header-cell
                *matHeaderCellDef
                (class)="ecd-w__60x"
            >
                Hình ảnh
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                <img
                    [src]="element.thumbnail_url"
                    class="ecd-img__thumbnail"
                >
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                Tên sản phẩm
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{element.name}}
            </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                Giá
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{formatCurrency().format(element.price) + 'đ'}}
            </td>
        </ng-container>
        <ng-container matColumnDef="discount">
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                Giảm giá
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{formatCurrency().format(element.discount) + 'đ'}}
            </td>
        </ng-container>
        <ng-container matColumnDef="discount_rate">
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                Chiết khấu
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{element.discount_rate + '%'}}
            </td>
        </ng-container>
        <ng-container matColumnDef="review_count">
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                Xem
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{element.review_count}}
            </td>
        </ng-container>
        <ng-container matColumnDef="favourite_count">
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                Thích
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{element.favourite_count}}
            </td>
        </ng-container>
        <ng-container matColumnDef="rating_average" >
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                Đánh giá
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{element.rating_average}}
            </td>
        </ng-container>
        <ng-container matColumnDef="order_count">
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                SL Đã bán
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{element.order_count}}
            </td>
        </ng-container>
        <ng-container matColumnDef="sales" stickyEnd>
            <th
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
            >
                Doanh Thu
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{formatCurrency().format(element.order_count * element.price) + 'đ'}}
            </td>
        </ng-container>
        <tbody>
            <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsTiKi; sticky: true"
            ></tr>
            <tr
                mat-row
                (click)="onShowDetail(row)"
                *matRowDef="let row; columns: displayedColumnsTiKi; let i = index"
            ></tr>
        </tbody>
    </table>
</div>
<div class="ecd-pagination">
    <ngb-pagination
        [collectionSize]="pagination.totalRecords"
        [pageSize]="pagination.pageSize"
        [(page)]="pagination.page"
        [maxSize]="5"
        (pageChange)="onPaginatorBT($event)"
        [boundaryLinks]="true"
        class="pagination-rounded"
    ></ngb-pagination>
    <mat-paginator
        [pageSize]="pagination.pageSize"
        [pageIndex]="pagination.page - 1"
        [length]="pagination.totalRecords"
        (page)="onPaginator($event)"
        [pageSizeOptions]="[10, 50, 100, 200, 500, 1000]"
    ></mat-paginator>
</div>
