::ng-deep {

    tr.mat-footer-row,
    tr.mat-row {
        height: 40px !important;
    }

    th.mat-sort-header-sorted {
        color: black;
    }

    .pagination {
        margin-bottom: 0;
    }

    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type,
    th.mat-header-cell:first-of-type {
        padding: 0px 12px !important;
        left   : -1px !important;
    }

    tr:hover {
        background: whitesmoke;
        cursor    : pointer;
    }

    .ngx-datatable.material .empty-row {
        text-align: center;
    }

    .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
        font-size   : 12px;
        line-height : 1;
        border-right: 1px solid #e0e0e0;
    }

    .ngx-datatable .datatable-body .datatable-body-row>div {
        border-bottom: 1px solid #e0e0e0;
    }

    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
        border-right: 1px solid #e0e0e0;
        top         : 1px;
    }

    .ngx-datatable.material .datatable-body .datatable-row-left {
        background-image: unset !important;
    }

    .ngx-datatable .datatable-row-right {
        .datatable-header-cell {
            margin-left        : -35px;
            background-position: 0 0;
            background-repeat  : repeat-y;
            background         : #00ce68 !important;
            color              : #fff !important;
            background-image   : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQI12PQkNdi1VTQ5gbSwkAsDQARLAIGtOSFUAAAAABJRU5ErkJggg==);
        }
    }

    .datatable-header-inner .ngx-datatable.material .datatable-header .datatable-row-right {
        background-color: #fff !important;
        color           : unset !important;
    }

    .ngx-datatable.material .datatable-body .datatable-row-right .datatable-body-cell {
        background-color: #00ce68 !important;
        color           : #fff !important;
    }

    .mat-menu-content {
        padding: 0 !important;
    }

    .mat-menu-panel {
        min-height: unset !important;
    }
    .row-selected{
        background: #00ce68 !important;
        color: #fff !important;
    }
}

ngx-datatable {
    height: 520px;
    border: 1px solid #ffbd6c;
}

.ngx-img__thumbnail {
    width           : 35px;
    height          : 35px;
    border-radius   : 100%;
    background-color: #fff;
    top             : -12px;
    position        : relative;
    left            : -8px;
}

.ecd-w-h__100 {
    border    : 1px solid #ffbd6c;
    text-align: center;
}

table {
    min-width: 800px;
    width    : 100%;
}

.ecd-selected {
    background: #a4fbd0;
}

.ecd-btn__end {
    align-items      : center;
    justify-content  : space-around;
    display          : -webkit-inline-box;
    display          : flex;
    width            : 100%;
    margin-bottom    : 10px;
}

.ecd-pagination {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    flex-wrap      : wrap;
}

.pagination {
    margin-bottom: 0;
}

.ecd-img__thumbnail {
    width           : 35px;
    height          : 35px;
    border-radius   : 100%;
    background-color: #fff;
}

.ecd-selected__row {
    background-color: #ffbd6c;
}

.ced-row {
    height: 40px;
}

.ecd-virtual-scroll {
    height: 300px;
}

.la-line-scale-pulse-out,
.la-line-scale-pulse-out>div {
    position          : relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

.la-line-scale-pulse-out {
    display  : block;
    font-size: 0;
    color    : #fff;
}

.la-line-scale-pulse-out.la-dark {
    color: #333;
}

.la-line-scale-pulse-out>div {
    display         : inline-block;
    float           : none;
    background-color: currentColor;
    border          : 0 solid currentColor;
}

.la-line-scale-pulse-out {
    width : 40px;
    height: 32px;
}

.la-line-scale-pulse-out>div {
    width            : 4px;
    height           : 32px;
    margin           : 2px;
    margin-top       : 0;
    margin-bottom    : 0;
    border-radius    : 0;
    -webkit-animation: line-scale-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
    -moz-animation   : line-scale-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
    -o-animation     : line-scale-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
    animation        : line-scale-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
}

.la-line-scale-pulse-out>div:nth-child(3) {
    -webkit-animation-delay: -.9s;
    -moz-animation-delay   : -.9s;
    -o-animation-delay     : -.9s;
    animation-delay        : -.9s;
}

.la-line-scale-pulse-out>div:nth-child(2),
.la-line-scale-pulse-out>div:nth-child(4) {
    -webkit-animation-delay: -.7s;
    -moz-animation-delay   : -.7s;
    -o-animation-delay     : -.7s;
    animation-delay        : -.7s;
}

.la-line-scale-pulse-out>div:nth-child(1),
.la-line-scale-pulse-out>div:nth-child(5) {
    -webkit-animation-delay: -.5s;
    -moz-animation-delay   : -.5s;
    -o-animation-delay     : -.5s;
    animation-delay        : -.5s;
}

.la-line-scale-pulse-out.la-sm {
    width : 20px;
    height: 16px;
}

.la-line-scale-pulse-out.la-sm>div {
    width        : 2px;
    height       : 16px;
    margin       : 1px;
    margin-top   : 0;
    margin-bottom: 0;
}

.la-line-scale-pulse-out.la-2x {
    width : 80px;
    height: 64px;
}

.la-line-scale-pulse-out.la-2x>div {
    width        : 8px;
    height       : 45px;
    margin       : 4px;
    margin-top   : 0;
    margin-bottom: 0;
}

.la-line-scale-pulse-out.la-3x {
    width : 120px;
    height: 96px;
}

.la-line-scale-pulse-out.la-3x>div {
    width        : 8px;
    height       : 45px;
    margin-top   : 0;
    margin-bottom: 0;
}

.ced-loading {
    position        : fixed;
    top             : 0;
    height          : 100vh;
    width           : 100vw;
    z-index         : 1400;
    left            : 0;
    background-color: #2a2b3287;
    overflow        : visible;

    div {
        top : 40%;
        left: 45%;
    }
}

.ecd-nameprod {
    color : #007eff;
    cursor: pointer;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
    border-left : unset !important;
    box-shadow  : 3px 16px 2px 3px #abaaaa;
    border-right: 1px solid #d0d0d0;
    background  : #e49911;
    color       : #fff;
}

th.mat-header-cell:last-of-type {
    box-shadow : 4px -4px 3px 3px;
    border-left: unset !important;
    background : #e49911;
    color      : #fff;
}

.mat-cell,
.mat-header-cell {
    white-space: nowrap;
    padding    : 0 5px;
    border-left: 1px solid #d4d4d44f
}

.mat-column-select {
    width     : 40px;
    text-align: center;
}

.mat-column-index {
    text-align: center;
    min-width : 40px;
    padding   : 0 10px;
}

.mat-column-thumbnail_url {
    width     : 60px;
    text-align: center;
    left      : 39px !important;
}

.mat-column-image {
    width     : 60px;
    text-align: center;
    left      : 39px !important;
}

.mat-column-ctime {
    text-align: center;
}

.mat-column-sales {
    text-align: right;
}

.mat-column-name {
    overflow     : hidden;
    text-overflow: ellipsis;
    width        : 267px;
    max-width    : 267px;
}

.mat-column-shop_name {
    overflow     : hidden;
    text-overflow: ellipsis;
    width        : 100px;
    max-width    : 100px;
}

.mat-column-shop_location {
    overflow     : hidden;
    text-overflow: ellipsis;
    width        : 100px;
    max-width    : 100px;
}

.ecd-chk__box-pos {
    top     : 4px;
    position: relative;
}

.ecd-loading {
    width   : 100%;
    height  : 100%;
    position: absolute;
    top     : 0;
}