.hot-key {
    margin-bottom: 50px;
}
.display_flex {
    display: flex;
}
.mr-10p {
    margin-right: 10px;
}
.cuiso {
    cursor: pointer;
}
.card {
    box-shadow: #04040436 3px 3px;
    height: 100px !important;
}
.card-shop {
    height: 100px !important;
  background-color: white;
}
.image-category {
    width: 20%;
    height: 80%;
    padding: 15px 0 0 15px;
}
.pd-unset {
    padding: unset !important;
}
.card-right {
    height: 80%;
    padding: 15px 0 0 15px;
}
.card-right :hover {
  text-decoration: underline;
}
.search {
  margin-bottom: 20px;
}
.hot-key {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.hot-key-name  {
  margin: 0 2px;
}
.recommended {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.title-recomended {
    display: flex;
    align-items: center;
    justify-content: center;
}
.recommended {
  margin-bottom: 50px;
  padding: 20px;
}
.table-product {
  height: auto !important;
  border:  unset;
  box-shadow: unset;
}
/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-line-scale-pulse-out,
.la-line-scale-pulse-out > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.la-line-scale-pulse-out {
  display: block;
  font-size: 0;
  color: #fff;
}
.la-line-scale-pulse-out.la-dark {
  color: #333;
}
.la-line-scale-pulse-out > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}
.la-line-scale-pulse-out {
  width: 40px;
  height: 32px;
}
.la-line-scale-pulse-out > div {
  width: 4px;
  height: 32px;
  margin: 2px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  -webkit-animation: line-scale-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
  -moz-animation: line-scale-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
  -o-animation: line-scale-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
  animation: line-scale-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
}
.la-line-scale-pulse-out > div:nth-child(3) {
  -webkit-animation-delay: -.9s;
  -moz-animation-delay: -.9s;
  -o-animation-delay: -.9s;
  animation-delay: -.9s;
}
.la-line-scale-pulse-out > div:nth-child(2),
.la-line-scale-pulse-out > div:nth-child(4) {
  -webkit-animation-delay: -.7s;
  -moz-animation-delay: -.7s;
  -o-animation-delay: -.7s;
  animation-delay: -.7s;
}
.la-line-scale-pulse-out > div:nth-child(1),
.la-line-scale-pulse-out > div:nth-child(5) {
  -webkit-animation-delay: -.5s;
  -moz-animation-delay: -.5s;
  -o-animation-delay: -.5s;
  animation-delay: -.5s;
}
.la-line-scale-pulse-out.la-sm {
  width: 20px;
  height: 16px;
}
.la-line-scale-pulse-out.la-sm > div {
  width: 2px;
  height: 16px;
  margin: 1px;
  margin-top: 0;
  margin-bottom: 0;
}
.la-line-scale-pulse-out.la-2x {
  width: 80px;
  height: 64px;
}
.la-line-scale-pulse-out.la-2x > div {
  width: 8px;
  height: 45px;
  margin: 4px;
  margin-top: 0;
  margin-bottom: 0;
}
.la-line-scale-pulse-out.la-3x {
  width: 120px;
  height: 96px;
}
.la-line-scale-pulse-out.la-3x > div {
  width: 8px;
  height: 45px;
  margin-top: 0;
  margin-bottom: 0;
}
/*
 * Animation
 */
@-webkit-keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(.3);
    transform: scaley(.3);
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}
@-moz-keyframes line-scale-pulse-out {
  0% {
    -moz-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -moz-transform: scaley(.3);
    transform: scaley(.3);
  }
  100% {
    -moz-transform: scaley(1);
    transform: scaley(1);
  }
}
@-o-keyframes line-scale-pulse-out {
  0% {
    -o-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -o-transform: scaley(.3);
    transform: scaley(.3);
  }
  100% {
    -o-transform: scaley(1);
    transform: scaley(1);
  }
}
@keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    -moz-transform: scaley(1);
    -o-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(.3);
    -moz-transform: scaley(.3);
    -o-transform: scaley(.3);
    transform: scaley(.3);
  }
  100% {
    -webkit-transform: scaley(1);
    -moz-transform: scaley(1);
    -o-transform: scaley(1);
    transform: scaley(1);
  }
}
.loading {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1400;
  left: 0;
  background-color: #2a2b3287;
  overflow: visible;
  div {
    top: 40%;
    left: 45%;
  }
}
.table th, .table td {
  padding: 10px;
}
.image-shop {
  width: 5%;
  margin: 20px;
  border-radius: 5px;
  border: #26155a73 solid 1px;
  box-shadow: #130f0f85 3px 3px;
}
.shop {
  padding-left: unset !important;
  padding-right: unset !important;
  margin: 20px 0;
}
.card-shop-title {
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 16px;
}
.shop-time {
  display: flex;
  align-items: center;
  width: 10%;
}
