.hot-key {
    margin-bottom: 50px;
}
.display_flex {
    display: flex;
}
.mr-10p {
    margin-right: 10px;
}
.cuiso {
    cursor: pointer;
}
.card {
    box-shadow: #04040436 3px 3px;
    height: 100px !important;
}
.image-category {
    width: 20%;
    height: 80%;
    padding: 15px 0 0 15px;
}
.pd-unset {
    padding: unset !important;
}
.card-right {
    height: 80%;
    padding: 15px 0 0 15px;
}
.card-right :hover {
  text-decoration: underline;
}
.search {
  margin-bottom: 20px;
}
.hot-key {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.hot-key-name  {
  margin: 0 2px;
}
.recommended {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.title-recomended {
    display: flex;
    align-items: center;
    justify-content: center;
}
.recommended {
  margin-bottom: 50px;
  padding: 20px;
}
.table-product {
  height: auto !important;
  border:  unset;
  box-shadow: unset;
}

