<div class="login-layout">
  <div class="logo">
    VINET Crawl
    Ecommerce
    Site
  </div>
  <form class="forms-sample">
    <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <div class="btn-submit">
      <button type="submit" class="btn btn-success mr-2">Login</button>
      <button class="btn btn-light" routerLink="/sign-up">Sign up</button>
    </div>
  </form>
</div>
