<div class="row">
    <div class="col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body display_flex">
                <img src="assets/images/faces/face1.jpg" class="mr-10p">
                <div>
                    <h4 class="card-title">Basic Paginations</h4>
                    <p class="card-description">Default bordered pagination</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body display_flex">
                <img src="assets/images/faces/face1.jpg" class="mr-10p">
                <div>
                    <h4 class="card-title">Basic Paginations</h4>
                    <p class="card-description">Default bordered pagination</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body display_flex">
                <img src="assets/images/faces/face1.jpg" class="mr-10p">
                <div>
                    <h4 class="card-title">Basic Paginations</h4>
                    <p class="card-description">Default bordered pagination</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body display_flex">
                <img src="assets/images/faces/face1.jpg" class="mr-10p">
                <div>
                    <h4 class="card-title">Basic Paginations</h4>
                    <p class="card-description">Default bordered pagination</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body display_flex">
                <img src="assets/images/faces/face1.jpg" class="mr-10p">
                <div>
                    <h4 class="card-title">Basic Paginations</h4>
                    <p class="card-description">Default bordered pagination</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body display_flex">
                <img src="assets/images/faces/face1.jpg" class="mr-10p">
                <div>
                    <h4 class="card-title">Basic Paginations</h4>
                    <p class="card-description">Default bordered pagination</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body display_flex">
                <img src="assets/images/faces/face1.jpg" class="mr-10p">
                <div>
                    <h4 class="card-title">Basic Paginations</h4>
                    <p class="card-description">Default bordered pagination</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body display_flex">
                <img src="assets/images/faces/face1.jpg" class="mr-10p">
                <div>
                    <h4 class="card-title">Basic Paginations</h4>
                    <p class="card-description">Default bordered pagination</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body display_flex">
                <img src="assets/images/faces/face1.jpg" class="mr-10p">
                <div>
                    <h4 class="card-title">Basic Paginations</h4>
                    <p class="card-description">Default bordered pagination</p>
                </div>
            </div>
        </div>
    </div>
</div>