.main-product {
  position: absolute;
  top: 63px;
  right: 0;
  z-index: 1000;
  width: calc(100% - 255px);
  background: #1317193b;
  height: calc(100vh - 63px);
}
.main-right {
  padding: 0 10px;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  min-width: 720px;
  background-color: white;
  height: calc(100vh - 63px);
  overflow-y: scroll;
}
.main {
  display: flex;
  padding: 10px;
  background-color: #68e8dd80;
  border-radius: 10px;
  .left {
    width: 40%;
    height: auto;
    min-height: 100vh;
    .summary {
      height: auto;
      width: 90%;
      margin: 30px auto auto;
      border-radius: 5px;
      background-color: white;
      img {
        width: 70%;
        margin-top: 5%;
        margin-left: 15%;
        border-radius: 10px;
      }
    }
    .statistical {
      height: auto;
      width: 90%;
      margin: 30px auto auto;
      border-radius: 5px;
      background-color: white;
      padding: 30px;
      p {
        font-size: 17px;
      }
    }
  }
  .right {
    width: 60%;
    .product-description {
      width: 90%;
      margin: auto;
      border-radius: 10px;
      padding: 15px;
      background-color: white;
    }
  }
}
.title {
  padding-left: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: #29bbbb solid 1px;
}
.btn-detail {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  background-color: #ffd500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-product {
  color: #1da1f2;
  text-align: center;
  font-size: 18px;
  p {
    width: 70%;
    margin: auto;
  }
}
.name-product:hover {
  font-weight: bold;
  text-decoration: underline;
}
.price {
  color: #f02a2c;
  text-align: center;
}
.date-product {
  color: rgba(7, 2, 6, 0.75);
  text-align: center;
}
.mg-b30 {
  margin-bottom: 30px !important;
}
.type-product {
  width: 90%;
  background-color: white;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  p {
    font-size: 18px;
  }
  .table {
    thead {
      tr {
        th {
          padding: 5px;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 5px;
        }
      }
    }
  }
}
.display-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-line-scale-pulse-out,
.la-line-scale-pulse-out > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.la-line-scale-pulse-out {
  display: block;
  font-size: 0;
  color: #fff;
}
.la-line-scale-pulse-out.la-dark {
  color: #333;
}
.la-line-scale-pulse-out > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}
.la-line-scale-pulse-out {
  width: 40px;
  height: 32px;
}
.la-line-scale-pulse-out > div {
  width: 4px;
  height: 32px;
  margin: 2px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  -webkit-animation: line-scale-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
  -moz-animation: line-scale-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
  -o-animation: line-scale-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
  animation: line-scale-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
}
.la-line-scale-pulse-out > div:nth-child(3) {
  -webkit-animation-delay: -.9s;
  -moz-animation-delay: -.9s;
  -o-animation-delay: -.9s;
  animation-delay: -.9s;
}
.la-line-scale-pulse-out > div:nth-child(2),
.la-line-scale-pulse-out > div:nth-child(4) {
  -webkit-animation-delay: -.7s;
  -moz-animation-delay: -.7s;
  -o-animation-delay: -.7s;
  animation-delay: -.7s;
}
.la-line-scale-pulse-out > div:nth-child(1),
.la-line-scale-pulse-out > div:nth-child(5) {
  -webkit-animation-delay: -.5s;
  -moz-animation-delay: -.5s;
  -o-animation-delay: -.5s;
  animation-delay: -.5s;
}
.la-line-scale-pulse-out.la-sm {
  width: 20px;
  height: 16px;
}
.la-line-scale-pulse-out.la-sm > div {
  width: 2px;
  height: 16px;
  margin: 1px;
  margin-top: 0;
  margin-bottom: 0;
}
.la-line-scale-pulse-out.la-2x {
  width: 80px;
  height: 64px;
}
.la-line-scale-pulse-out.la-2x > div {
  width: 8px;
  height: 45px;
  margin: 4px;
  margin-top: 0;
  margin-bottom: 0;
}
.la-line-scale-pulse-out.la-3x {
  width: 120px;
  height: 96px;
}
.la-line-scale-pulse-out.la-3x > div {
  width: 8px;
  height: 45px;
  margin-top: 0;
  margin-bottom: 0;
}
/*
 * Animation
 */
@-webkit-keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(.3);
    transform: scaley(.3);
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}
@-moz-keyframes line-scale-pulse-out {
  0% {
    -moz-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -moz-transform: scaley(.3);
    transform: scaley(.3);
  }
  100% {
    -moz-transform: scaley(1);
    transform: scaley(1);
  }
}
@-o-keyframes line-scale-pulse-out {
  0% {
    -o-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -o-transform: scaley(.3);
    transform: scaley(.3);
  }
  100% {
    -o-transform: scaley(1);
    transform: scaley(1);
  }
}
@keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    -moz-transform: scaley(1);
    -o-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(.3);
    -moz-transform: scaley(.3);
    -o-transform: scaley(.3);
    transform: scaley(.3);
  }
  100% {
    -webkit-transform: scaley(1);
    -moz-transform: scaley(1);
    -o-transform: scaley(1);
    transform: scaley(1);
  }
}
.loading {
  position: absolute;
  top: 0;
  height: calc(100vh - 63px);
  width: 50%;
  z-index: 1400;
  right: 0;
  background-color: #262a2b96;
  overflow: visible;
  div {
    top: 40%;
    left: 45%;
  }
}
