<div class="main-product">
  <div class="main-right" (click)="nothing($event)">
    <div class="title">
      Chi tiết sản phẩm
    </div>
    <div class="main">
      <div class="left">
        <a class="btn-group btn-detail" target="_blank" href="https://shopee.vn/product-i.{{data.shopid}}.{{data.itemid}}"><p style="margin: 10px">Mở trang Shopee<p></p></a>
        <div class="summary">
          <img [src]="data?.thumbnail_url">
          <a class="name-product" href="#"><p class="mg-b30">{{data?.name}}</p></a>
          <p class="price mg-b30">{{formatCurrency().format(data?.price)}}' VND'</p>
          <p class="date-product mg-b30">2018-08-16</p>
        </div>
        <div class="statistical">
          <p>Thống kê</p>
          <table class="table">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="display-space-between">
                <div>
                  Vị trí
                </div>
                <div class="badge badge-info badge-pill">Hà Nội</div>
              </td>
            </tr>
            <tr>
              <td class="display-space-between">
                <div>
                  Đã bán toàn thời gian
                </div>
                <div class="badge badge-info badge-pill">2</div>
              </td>
            </tr>
            <tr>
              <td class="display-space-between">
                <div>
                  Đã bán trong 30 ngày
                </div>
                <div class="badge badge-info badge-pill">0</div>
              </td>
            </tr>
            <tr>
              <td class="display-space-between">
                <div>
                  Giá
                </div>
                <div class="badge badge-info badge-pill">{{formatCurrency().format(data?.price)}}' VND'</div>
              </td>
            </tr>
            <tr>
              <td class="display-space-between">
                <div>
                  Giá cao nhất
                </div>
                <div class="badge badge-info badge-pill">159,000</div>
              </td>
            </tr>
            <tr>
              <td class="display-space-between">
                <div>
                  Giá thấp nhất
                </div>
                <div class="badge badge-info badge-pill">159,000</div>
              </td>
            </tr>
            <tr>
              <td class="display-space-between">
                <div>
                  Lượt Thích
                </div>
                <div class="badge badge-info badge-pill">{{data?.favourite_count}}</div>
              </td>
            </tr>
            <tr>
              <td class="display-space-between">
                <div>
                  Kho
                </div>
                <div class="badge badge-info badge-pill">118</div>
              </td>
            </tr>
            <tr>
              <td class="display-space-between">
                <div>
                  Đánh giá
                </div>
                <div class="badge badge-info badge-pill">{{data?.rating_average}}</div>
              </td>
            </tr>
            <tr>
              <td class="display-space-between">
                <div>
                  Điểm số
                </div>
                <div class="badge badge-info badge-pill">0</div>
              </td>
            </tr>
            <tr>
              <td class="display-space-between">
                <div>
                  Lượt Xem
                </div>
                <div class="badge badge-info badge-pill">{{data?.review_count}}</div>
              </td>
            </tr>
            <tr>
              <td class="display-space-between">
                <div>
                  Shop chính thức

                </div>
                <div class="badge badge-info badge-pill">x</div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="statistical">
          <p>Chuyên mục</p>
          <table class="table">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Thiết bi điện tử</td>
            </tr>
            <tr>
              <td>Thiết bị âm thanh</td>
            </tr>
            <tr>
              <td>Loa bluetooth</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="right">
        <div class="product-description">
          <p style="font-size: 17px">Mô tả sản phẩm</p>
          <p>
            {{data?.short_description}}
          </p>
        </div>
        <div class="type-product">
          <p>Mẫu sản phẩm</p>
          <table class="table">
            <thead>
            <tr>
              <th>
                Tên
              </th>
              <th>
                Mã
              </th>
              <th>
                Giá
              </th>
              <th>
                Kho
              </th>
              <th>
                Đã bán
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Đen</td>
              <td>11054451795</td>
              <td>159,000 VND</td>
              <td>20</td>
              <td>0</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="type-product">
          <p>Thuộc tính</p>
          <table class="table">
            <thead>
            <tr>
              <th>
                Tên
              </th>
              <th>
                Mã
              </th>
              <th>
                Giá trị
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Thương hiệu</td>
              <td>1253</td>
              <td>Borofone</td>
            </tr>
            <tr>
              <td>Bảo hành(tháng)</td>
              <td>8849</td>
              <td>6</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
