.main-product {
  position: absolute;
  top: 63px;
  right: 0;
  width: calc(100% - 255px);
  background: #010b0e6b;
  height: calc(100vh - 63px);
}
.main-right {
  padding: 0 10px;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  height: calc(100vh - 63px);
  overflow-y: scroll;
}
.main {
  display: flex;
  padding: 10px;
  background-color: #68e8dd80;
  border-radius: 10px;
  .left {
    width: 40%;
    height: auto;
    min-height: 100vh;
    .summary {
      height: auto;
      width: 90%;
      margin: 30px auto auto;
      border-radius: 5px;
      background-color: white;
      img {
        width: 70%;
        margin-top: 5%;
        margin-left: 15%;
        border-radius: 10px;
      }
    }
    .statistical {
      height: auto;
      width: 90%;
      margin: 30px auto auto;
      border-radius: 5px;
      background-color: white;
      padding: 30px;
      p {
        font-size: 17px;
      }
    }
  }
  .right {
    width: 60%;
    .product-description {
      width: 90%;
      margin: auto;
      border-radius: 10px;
      padding: 15px;
      background-color: white;
    }
  }
}
.title {
  padding-left: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: #29bbbb solid 1px;
}
.btn-detail {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  background-color: #ffd500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-product {
  color: #1da1f2;
  text-align: center;
  font-size: 18px;
  p {
    width: 70%;
    margin: auto;
  }
}
.name-product:hover {
  font-weight: bold;
  text-decoration: underline;
}
.price {
  color: #f02a2c;
  text-align: center;
}
.date-product {
  color: rgba(7, 2, 6, 0.75);
  text-align: center;
}
.mg-b30 {
  margin-bottom: 30px !important;
}
.type-product {
  width: 90%;
  background-color: white;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  p {
    font-size: 18px;
  }
  .table {
    thead {
      tr {
        th {
          padding: 5px;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 5px;
        }
      }
    }
  }
}
.display-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
