<div class="main-product">
  <div class="main-right">
    <div class="title">
      Chi tiết sản phẩm
    </div>
    <div class="main">
      <div class="left">
        <button class="btn-group btn-detail"><p style="text-align: center">Mở trang Shopee<p></p></button>
        <div class="summary">
          <img src="https://cf.shopee.vn/file/b59b6b548adc26ef181649acd60bf7ae">
          <a class="name-product" href="#"><p class="mg-b30">Quần Bò Jean Dsq2 Rách Sơn Vẫn Luôn Hót Bao Gia Ngon Cho Ae</p></a>
          <p class="price mg-b30">420,000 VND</p>
          <p class="date-product mg-b30">2018-08-16</p>
        </div>
      </div>
      <div class="right">

      </div>
    </div>
  </div>
</div>
